.PoolDetails {
  flex-grow:4;
  height: calc(100vh - 65px);
  padding: 1.25rem;
  display: inline-flex;
  width: 100%;
  &.open {
    width: calc(100vw - 400px - 1.25rem);
  }

  .details {
    display: block;
  }
  .participants {
    margin-top: 1em;
    width: 100%;
    button {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  .transaction-details {
    display: inline-flex;
    flex-direction: row;
    .transactions {
      max-width: 25%;
      min-width: 25%;
      margin-top: 1.25rem;
    }
    .graph {
      width: 100%;
      flex-direction: row;
      display: inline-flex;
      justify-content: center;
    }
  }
}