:root {
  --color-primary: #162814;
  --color-primary-light: #7F897E;
  --color-primary-dark: #0C160B;
  --color-secondary: #5E8759;
  --color-secondary-light: #7F897E;
  --color-secondary-dark: #7F897E;
  --color-tertiary: #B3EFAC;
  --color-tertiary-light: #CEF4CA;
  --color-tertiary-dark: #83AE7E;
  --color-danger: #FFB3BA;
  --color-warning: #FFDFBA;
  --color-confirm: #BAE1FF;
  --color-gray: #E9EBE9;
  --color-notes: #FEFF9C;
  --color-notes-vertical-line: #FF7EB9;
  --color-notes-horizontal-line: #AFEEEE
}

.color-primary {
  color: var(--color-primary) !important;
}

.color-secondary {
  color: var(--color-secondary) !important;
}

.color-tertiary {
  color: var(--color-tertiary) !important;
}

.color-danger {
  color: var(--color-danger) !important;
}

.color-notes-vertical-line {
  color: var(--color-notes-vertical-line) !important;
}

.color-notes-horizontal-line {
  color: var(--color-notes-horizontal-line) !important;
}

.bg-color-primary {
  background-color: var(--color-primary) !important;
}

.bg-color-secondary {
  background-color: var(--color-secondary) !important;
}

.bg-color-tertiary {
  background-color: var(--color-tertiary) !important;
}

.bg-color-tertiary--dark {
  background-color: var(--color-tertiary-dark) !important;
}

.bg-color-tertiary--light {
  background-color: var(--color-tertiary-light) !important;
}

.bg-color-notes {
  background-color: var(--color-notes) !important;
}