.Main {
  .nav {
    background-color: #162814;
    height: 65px;
    a {
      color: white;
      font-size: 24px;
      font-weight: 600;

    }
    &-link {
      padding: 1rem;
    }
  }
  .create-pool {
      color: var(--color-primary);
  }

  .list-group {
    a {
      color: var(--color-primary);
    }
    &-item {
      &.selected {
        background-color: var(--color-primary);
        color: var(--color-tertiary-light);
        transition: background-color .5s ease;

      }
    }
  }
  .main-container {
    height: calc(100vh - 80px);
    display: inline-flex;
  }

}